[Bb]in/
[Oo]bj/
[Ww]orking*/
[Bb]uild/Temp/
[Dd]oc/doc.shfbproj_*
TestResults/
AppPackages/
src/packages/
*.suo
*.user
*.userprefs
_ReSharper.*
*.ReSharper.user
*.resharper.user
.vs/
*.lock.json
*.nuget.props
*.nuget.targets
*.orig
.DS_Store

